<!DOCTYPE html>
<html class="login-content">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Curso Spring</title>

</head>

<body class="login-content">
<!-- Login -->
<form method="POST" action="/login.do" id="l-login" autocomplete="off">
    <div >
        <div>
            <input type="text" name="username" placeholder="Username" autocomplete="off" style="padding-left: 3px;"/>
        </div>
    </div>

    <div>
        <div>
            <input type="password" name="password" placeholder="Password" autocomplete="off" style="padding-left: 3px;"/>
        </div>
    </div>


    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">Login</button>

</form>

</body>
</html>